@page
@model MyFirstApp.Web.Pages.TesteModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <h1>Razor Pages</h1>
    <div>@Model.Description</div>
</body>
</html>
